# Loops Exercises

For Loop Exercises

#### 1. Print Numbers 1 to 10
Write a for loop that prints numbers from 1 to 10.

In [30]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [36]:
start = 1
end = 10

numbers = range(start,end+1)

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

#### 2. Sum of Numbers
Write a program that calculates the sum of all numbers between 1 and 100 using a for loop.

In [27]:
sum = 0
cumulative = []

for i in range(1,101):
    sum += i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

#### Even Numbers between 1 and 50
Write a for loop that prints all even numbers between 1 and 50.

In [47]:
numbers = range(1,50+1)

for number in numbers:
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

#### Reverse a String
Use a for loop to reverse a string. Input: "hello", Output: "olleh"

In [90]:
letters = 'hello'

letters_list = list(letters)

letters_index = []

for letter in letters:
  letters_index.append(letters_list.index(letter))
  for index in letters_index:
    reverse_indexes = sorted(letters_index,key=None, reverse= True)

for index in reverse_indexes:
  print(letters_list[letters_index])

TypeError: list indices must be integers or slices, not list